{% extends "base.html" %}
{% block content %}	

    


    <div class="container c">
    	<div>
    		<p id="message"></p>
			{% if messages %}
			    {% for message in messages %}
			    	<p{% if message.tags %} class="bg-{{ message.tags }}"{% endif %}>{{ message }}</p>
			    {% endfor %}
			{% endif %}
		</div>
    	<div class="row">
    		{% if album %}
    			<h2 class="text-center margin-bot-5"> Album: {{album}}</h2>
    		{% elif band %}
    			<h2 class="text-center margin-bot-5"> Band: {{band}}</h2>
    		{% else %}
    			<h2 class="text-center margin-bot-5"> Playlist: {{playlist}}</h2>
    		{% endif %}
    		
    		<div class="col-md-6 col-md-offset-4">
				
			</div>
			
    		<div class="col-md-8 col-md-offset-2">
		    	<table class="table table-striped id='playlist'">
					<thead>
						<tr>
							<th>Song</th>
							<th>Album</th>
							<th>Options</th>
						</tr>
					</thead>
					<tbody id="playlist" class='sortable ' >

							{% for song in songs %}
								<tr class='song-div ui-state-default ' >
								
									{% load space %}
									<td class="col-md-5 title"><a class="play title" style="color:#89eaed" href="{{song.mp3.url}}">{{song.song|space}}</a></td>
									<td class="col-md-4"><a class="play" style="color:#89eaed" href="{{song.mp3.url}}">{{song.album}}</a></td>
									{% if playlist %}
										<td class="col-md-1">
											<button type="button" class="btn btn-sm btn-warning" aria-haspopup="true" aria-expanded="false">Remove<span class="glyphicon glyphicon-trash"></span></button>
										</td>
									{%elif not playlist%}
										<td>
											<div class="dropp btn-group dropup" >
												<button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add to Playlist <span class="caret"></span></button>
												<ul class="dropdown-menu">
													{% for playlist in playlists %}
												    	<li class='dropp'>
												    	{# /example/album/{{band}}/{{album}} #}
												    	<form action='' method='GET'>
													    	<input type="hidden" name="playlist_id"
													    	class="playlist_id" value="{{ playlist.id }}">
													    	<input type="hidden" name="song_id" class="song_id" value="{{ song.id }}">
													    	<a  class="click" href="#" >{{ playlist.title }}</a>
												    	</form></li>
													{% endfor %}
												 </ul>
											</div>
										</td>
									{%endif%}
								</tr>
							{%endfor%}
					</tbody>
				</table>
			</div>
			
		</div>	
    </div><!-- /.container -->
{%endblock%}
