<footer class="footer text-center" style="border-top:2px solid black;padding-bottom:8rem">

<div class='col-md-2 col-md-offset-3' style="padding-top:2rem;padding-left:5rem" >
	<a href="" id='back' ><img src="/media/back.png" height="40" width="40"></a>
	<a href="" id='forward' ><img src="/media/forward.png" height="40" width="40"></a>
</div>
<div class='col-md-3 text-center'>
<span id='current'> Playing: </span><br>


        <audio style="width: 400px;  " id="audio" preload="auto" tabindex="0" controls="">
          <source src="{{song.mp3.url}}" type="audio/mpeg">
          Your browser does not support the audio element.

        </audio>
  	<div class='hidden_songs' hidden> </div>
</div>

	


    </footer>