{% extends "base.html" %}

{% block content %}

<div class="alert alert-success" role="alert">...</div>
<div class="jumbotron theme"  >

  <div class="container-fluid  " >
        <div class="starter-template col-md-6 col-md-offset-3">
          <h1>Click and Listen Music</h1>
          <h3>Create your playlists with your favorite music and share it to your friends.</h3>
          <button type="button" class="btn btn-success btn-lg margin-top-3 btn-resp">Click Here to Sign Up</button>
        </div>
  </div>
 
</div>
 <!--
  <div class="container-fluid">
    <img src="..." class="img-responsive" alt="Responsive image">
        <div class="starter-template">
          <h1>Click and Listen Music</h1>
          <p class="lead">Create your playlists with your favorite music and share it to your friends.</p>
        </div>
    </div>
-->
    <div class="container" style="border-top:2px solid black;">
      <div class='row text-center'>
        <div class="col-md-4">
          
        </div>
        <div class="col-md-4">
           
        </div>
        <div class="col-md-4">
           
        </div>
      </div>


    
    </div><!-- /.container -->
{%endblock%}

